
<div class="row">
  <div class="col-4">
    <div class="border-right">
      <h4 class="border-bottom p-4" > Messages </h4>
      <% @chatrooms.each do |chatroom| %>
      <div class="card-message">
        <%= link_to imbox_path(chatroom_id: chatroom.id) do %>
          <%= "#{chatroom.booking.user.first_name} #{chatroom.booking.user.last_name}"%>
        <% end %>
      </div>
      <% end %>
      <div style = "height:100em">

      </div>
      </div>
    </div>


 <% if params[:chatroom_id].present? %>
  <div class="col-8">
    <h4 class="border-bottom pt-4 pb-4" > Messages </h4>
    <div class="small-container">
    <div id="messages" data-chatroom-id="4">

    <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.first_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
  </div>
   <h1>#<%= @chatroom.name %></h1>
    <%= simple_form_for [@chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <% end %>
  </div>
  </div>
  <% end %>
 </div>
