<div class="container py-3">
<h1> <%= @booking.mission.name %> </h1>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="booking-image">
        <%= cl_image_tag @mission.photos.first.key, height: 400, width: 600 %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="booking-card">
        <ul style="list-style-type:none;">
          <li><%= "Date de début de mission :" %></li>
          <li><%= @mission.start_date_time %></li>
          <li><%= "Date de fin de mission :" %></li>
          <li><%= @mission.end_date_time %></li>
          <li><%= "Statut de la mission :" %></li>
          <li><%= @booking.accepted %></li>
          <li><%= "Prix total de la mission :" %></li>
          <li><%= @booking.total_price %><%= " EUR" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="booking-description-mission">
    <h4>Description de la mission</h4>
      <p><%= @mission.description %></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="booking-freelancer-infos">
        <h4>Coordonnées du freelance</h4>
        <ul style="list-style-type:none;">
          <li><%= @booking.user.first_name %></li>
          <li><%= @booking.user.last_name %></li>
          <li><%= @booking.user.email %></li>
          <li><%= @booking.user.phone_number %></li>
          <li><%= "Commentaire :" %><%= @booking.freelancer_review %></li>
          <li><%= "Notation :" %><%= @booking.freelancer_rating %></li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="booking-company-infos">
        <h4>Coordonnées du client</h4>
        <ul style="list-style-type:none;">
          <li><%= @mission.user.company_name %></li>
          <li><%= @mission.user.email %></li>
          <li><%= @mission.user.phone_number %></li>
          <li><%= "Commentaire :" %><%= @booking.company_review %></li>
          <li><%= "Notation :" %><%= @booking.company_rating %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% if @booking.freelancer_review = "" %>
  <div class="container">
    <p></p>
    <%= simple_form_for(@booking) do |f| %>
      <%= f.input :freelancer_review %>
      <%= f.input :freelancer_rating, collection: 1..5 %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
<div class="container">
  <h4>Localisation de la mission</h4>
  <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>




