<div class="container">
<h1> <%= @booking.mission.name %> </h1>



<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="booking-image">
        <%= cl_image_tag @mission.photos.first.key, height: 600, width: 600 %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="booking-card">
        <ul>
          <li><%= @mission.start_date_time %></li>
          <li><%= @mission.end_date_time %></li>
          <li><%= @booking.accepted %></li>
          <li><%= @booking.total_price %><%= " EUR" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="booking-freelancer-infos">
        <h2>Infos freelancer</h2>
        <ul>
          <li><%= @booking.user.first_name %></li>
          <li><%= @booking.user.last_name %></li>
          <li><%= @booking.user.email %></li>
          <li><%= @booking.user.phone_number %></li>
          <li><%= "Commentaire :" %><%= @booking.freelancer_review %></li>
          <li><%= "Notation :" %><%= @booking.freelancer_rating %></li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="booking-company-infos">
        <h2>Infos entreprise</h2>
        <ul>
          <li><%= @mission.user.company_name %></li>
          <li><%= @mission.user.email %></li>
          <li><%= @mission.user.phone_number %></li>
          <li><%= "Commentaire :" %><%= @booking.company_review %></li>
          <li><%= "Notation :" %><%= @booking.company_rating %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="booking-description-mission">
    <h2>Infos mission</h2>
      <ul>
        <li><%= @mission.name %></li>
        <li><%= @mission.description %></li>
        <li><%= @mission.start_date_time %></li>
        <li><%= @mission.end_date_time %></li>
      </ul>
  </div>
</div>



<h2>Infos booking</h2>
<ul>
  <li><%= @booking.total_price %></li>
  <li><%= @booking.accepted %></li>
  <li><%= @booking.freelancer_review %></li>
  <li><%= @booking.freelancer_rating %></li>
  <li><%= @booking.company_review %></li>
  <li><%= @booking.company_rating %></li>

</ul>

</div>


