<% @bookings.each do |booking| %>
  <div class="card-product">
    <div class="card-information" >
      <div class="card-description">
        <h5 class="center-item"><%=booking.mission.name %></h5>
        <% if booking.mission.photos.attached? %>
          <%= cl_image_tag booking.mission.photos.first.key, widht: "100%" %>
        <% else %>
          <%= image_tag("mission.jpg") %>
        <% end %>
      </div>
      <div class="card-user_description" style ="margin-right: 80px;width:300px">
        <ul style="list-style-type:none;" >
          <li class="pt-4"><strong>Client :</strong></li>
          <li><%= link_to booking.mission.user.company_name, "#" %></li>
          <li>Mail : <%= booking.mission.user.email %></li>
          <li>Tél : <%= booking.mission.user.phone_number %></li>
          <li> Adresse : <%= booking.mission.address %></li>
        </ul>
      </div>
      <div class="card-user_description" style ="margin-right: 80px;width:300px">
        <ul style="list-style-type:none;">
          <li class="pt-4"><strong>Détails :</strong></li>
          <li>Date de début de mission : <br> <%= booking.mission.start_date_time.strftime("%d/%m/%Y/") %> à <%= booking.mission.start_date_time.strftime("%k:%Mh") %></li>
          <li>Date de fin de mission : <br> <%= booking.mission.end_date_time.strftime("%d/%m/%Y") %> à <%= booking.mission.end_date_time.strftime("%k:%Mh") %></li>
<!--           <li>Statut de la mission : <%= booking.status %></li> -->
          <li>Solde TTC : <strong><%= booking.mission.price_by_hour %>EUR</strong></li>
        </ul>
      </div>
      <ul style="list-style-type:none; margin-top:10px">
        <li><a href="#" class="btn btn-ok" style="margin-bottom:10px; width:140px">Facture</a></li>
        <li><%= link_to "Détails", booking_path(booking), class:"btn btn-second", style:"margin-bottom:20px; width:140px" %></li>
        <% if booking.mission.end_date_time <= Date.today %>
          <li><button type="button" class="btn btn-success text-center mt-2 mb-4 center-item" style="margin-right: 10px; width:140px" data-toggle="modal" data-target="#exampleModal">Donner un avis !</button></li><!-- Conditional Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="d-flex">
                      <div>
                        <% if booking.mission.user.avatar.attached? %>
                          <%= cl_image_tag booking.mission.user.avatar.key ,class:"avatar-xlarge"%>
                        <% else %>
                          <img src="https://d2mp1cia79qmhd.cloudfront.net/prod/assets/default-avatar-58953c9e3461a05e47397bef0ad1e1967f9be436996e40fc7a84147336fd23e6.png" class="avatar-large">
                        <% end %>
                      </div>
                      <h5 class="modal-title mt-2 ml-2" id="exampleModalLabel"><%= "Qu'avez-vous pensé devotre mission chez #{booking.mission.user.company_name}"%></h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for(booking, url: update_review_path(booking)) do |f| %>
                      <%= f.input :freelancer_rating, collection: 1..5 %>
                      <%= f.input :freelancer_review %>
                      <%= f.submit "Voter!", class:"btn btn-flat"%>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enregistrer</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </ul>            <!-- End of conditional Modal -->
    </div>
  </div>
<% end %>
