<div class = "container d-flex justify-content-center mt-4">
    <%= simple_form_for(:search, method: "GET", html: { class: 'inline d-flex align-content-center rounded' }) do |f| %>
      <%= f.input :name, required: false, wrapper_html: { class: 'float-container' }, input_html: {value: "", placeholder: " Azul", id: "left-corner-input"} %>
      <%= f.input :address, required: false, wrapper_html: { class: 'float-container' }, input_html: {value: "", placeholder: "address", id: "address-input"}%>
      <%= f.input :starting_date, as: :date, html5: true, required: false, wrapper_html: { class: 'float-container'} %>
      <%= f.input :ending_date, as: :date, html5: true, required: false, wrapper_html: { class: 'float-container' } %>
      <button type="submit" id="search-btn" title="" class="float-container">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
</div>
