<% @missions.each do |mission|%>
  <div class="card-product">
    <div class="card-information" >
      <div class="card-description">
        <h5 class="center-item"><%=mission.name %></h5>
        <% if mission.photos.attached? %>
          <%= cl_image_tag mission.photos.first.key, widht: "100%" %>
        <% else %>
          <%= image_tag("mission.jpg") %>
        <% end %>
      </div>
      <div class="card-user_description" style ="width:300px">
        <ul style="list-style-type:none;" >
          <li class="pt-4"><strong>Client :</strong></li>
          <li><%= link_to mission.user.company_name, "#" %></li>
          <li>Mail : <%= mission.user.email %></li>
          <li>Tél : <%= mission.user.phone_number %></li>
          <li> Adresse : <%= mission.address %></li>
        </ul>
      </div>
      <div class="card-user_description">
        <ul style="list-style-type:none;">
          <li class="pt-4"><strong>Détails de la mission :</strong></li>
          <li>Dates : <%= "#{mission.start_date_time.strftime("%d/%m/%Y")} au #{mission.end_date_time.strftime("%d/%m/%Y")} "%></li>
          <li><%= "De #{mission.start_date_time.strftime("%kh%M")} à #{mission.end_date_time.strftime("%kh%M")} "%></li>
          <li>Solde TTC : <%= mission.price_by_hour %><strong>EUR</strong></li>
        </ul>
      </div>
      <ul style="list-style-type:none; margin-top:10px">
        <% if  @params != "pending"%>
           <li><%= link_to "Détails", mission_path(mission), class:"btn btn-second", style:"margin-bottom:20px; width:140px" %></li>
          <li><a href="#" class="btn btn-ok" style="margin-bottom:10px; width:140px">Facture</a></li>
        <% else %>
          <li><%= link_to "Détails", mission_path(mission), class:"btn btn-second", style:"margin-bottom:20px; width:140px" %></li>
          <li><a class="btn btn-ok" style="margin-bottom:10px; width:140px" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Candidats</a></li>
      </ul>
    </div>
          <% bookings = mission.bookings.select { |booking| booking.mission.end_date_time >= Date.today && booking.status == "pending" } %>
          <%  bookings.each do |booking| %>
            <div id = <%= "mission_#{mission.id}" %> >
              <% if  params[:mission_id].present?%>
                  <div class="collapse show" id="collapseExample" style="">
                <% else %>
                  <div class="collapse" id="collapseExample" style="">
              <% end %>
                <div class="card card-body">
                  <div class="card-canditates ">
                    <% if booking.user.avatar.attached? %>
                      <%= cl_image_tag booking.user.avatar.key, class:"avatar-large", style:"margin-top: 15px"%>
                    <% else %>
                      <img src="https://d2mp1cia79qmhd.cloudfront.net/prod/assets/default-avatar-58953c9e3461a05e47397bef0ad1e1967f9be436996e40fc7a84147336fd23e6.png" style="position:absolute; left:0" class="avatar-nav">
                    <% end %>
                    <div class="info-candidat">
                      <h7 ><%="#{booking.user.first_name} #{booking.user.last_name}"%></h7>
                      <p >Prof de yoga</p>
                    </div>
                    <div class="candidat-description">
                      <p><strong>Motivations :</strong></p>
                      <p class="pb-3"><%= booking.freelancer_description%> ... </p>
                      <%= link_to chatrooms_path(booking_id: booking.id), method: :post do %>
                        <h8><i class="far fa-envelope"></i>  Contacter</h7>
                      <% end %>
                    </div>
                    <div class="info-candidat">
                      <%= simple_form_for(booking, :url => update_status_path(booking)) do |f| %>
                        <%= f.submit value: "Accepter", class:"btn btn-success greening candidat-buttons" %>
                        <%= f.submit value: "Refuser", class:"btn btn-danger candidat-buttons" %>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
