<div class="xsmall-container pt-5">
  <div class="row">
    <div class="col-8">
      <div class = "d-flex justify-content-left dashboard-buttons">
        <a href="freelancer?status=currently" class="btn btn-ghost"><%="En cours "%><i class="far fa-calendar"></i></a>
        <a href="freelancer?status=history" class="btn btn-ghost"><%="Passées "%><i class="fas fa-history"></i></a>
        <a href="freelancer?status=rejected" class="btn btn-ghost"><%="En attente "%><i class="far fa-clock"></i></a>
      </div>
    </div>

    <div class="col-4">
      <div class = "container d-flex justify-content-center pb-5">
        <%= simple_form_for(:query, method: "GET", html: { class: 'inline d-flex align-content-center rounded' }) do |f| %>
        <%= f.input "", required: false, wrapper_html: { class: 'float-container', style:"width:300px" }, input_html: {value: "", placeholder: "Ex : nom de la mission, du client...", id: "left-corner-input"} %>
        <button type="submit" id="search-btn" title="" class="float-container">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card_container">
        <% @bookings.each do |booking| %>
          <div class="card-product">
            <p>En cours</p>
            <div class="card-information" >
              <div class="card-description">
                <% if booking.mission.photos.attached? %>
                  <%= cl_image_tag booking.mission.photos.first.key, widht: "100%" %>
                <% else %>
                  <%= image_tag("mission.jpg") %>
                <% end %>
                <h6 class="center-item"><%=booking.mission.name %></h5>
              </div>
              <div class="card-user">
                <div class="card-user_description">
                  <ul style="list-style-type:none;" >
                    <li><strong>Client :</strong></li>
                    <li><strong><I><%= booking.mission.user.company_name %></I></strong> </li>
                    <li>mail : <%= booking.mission.user.email %></li>
                    <li>tél : <%= booking.mission.user.phone_number %></li>
                    <li>Adresse : <%= booking.mission.address %></li>
                    <li><a href="#" class="btn btn-ok mt-1">Voir le détail</a></li>

                  </ul>
                </div>
                <div class="card-user_description">
                  <ul style="list-style-type:none;">
                    <li><strong>Détails :</strong></li>
                    <li>Date de début de mission : <%= booking.mission.start_date_time %></li>
                    <li>Date de fin de mission : <%= booking.mission.end_date_time %></li>
                    <li>Statut de la mission : <%= booking.accepted %></li>
                    <li>Solde TTC : <strong><%= booking.total_price %>EUR</strong></li>
                    </ul>
                </div>

                <div>
                  <ul style="list-style-type:none; margin-top:10px">
                  <li><a href="#" class="btn btn-ok" style="margin-bottom:10px; width:100px">Facture</a></li>
                  <li><a href="#" class="btn btn-ok" style="margin-bottom:10px; width:100px">Détails</a></li>
                  <li><a href="#" class="btn btn-ok" style="margin-bottom:10px; width:100px">Add review</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
