<div class="search">
  <%= render 'shared/search' %> <br>
</div>
<div class="title">
<h1> All missions</h1>
</div>

<div class='content'>
    <div class="cards">
      <% @missions.each do |mission| %>
          <div class = "card-trip">
            <% if mission.photo.attached? %>
            <%= cl_image_tag mission.photo.key %>
            <% else %>
              <%= image_tag("mission.png") %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h4><%=mission.name %></h4>
                <p><%=mission.description%></p>
                <div class="flexbox"><%= link_to 'Search', mission, class:"btn-ok" %>
                <p class="card-trip-pricing"> 14 € </p></div>

              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
