<div class="search">
  <%= render 'shared/search' %>
</div>
<div class="container_card">
  <h1 class="title">Missions trouvées</h1>
  <p><%= @missions.ids.length %> mission(s) de <%= @params[:name].capitalize %> à <%= @params[:address].capitalize %></p>
  <div class="row">
    <div class="col-7">
      <div class="card_container">
        <% @missions.each do |mission| %>
          <div class="card-product">
             <h2><%= mission.name %></h2>
            <div class="card-information" >
              <div class="card-description">
                <% if mission.photos.attached? %>
                  <%= cl_image_tag mission.photos.first.key %>
                <% else %>
                  <%= image_tag("mission.jpg") %>
                <% end %>
                  <div class ="card-validation">
                    <%= link_to "En savoir plus", mission_path(mission), class:"btn btn-ok"%>
                  </div>
              </div>
              <div class="card-user">
                <div class="card-user-infos">
                  <h3><%= mission.job_category.name %></h3>
                  <div class="card-user_description">
                    <h4> Mission :</h4>
                    <p class="text_mission"><%= mission.description.truncate(380) %></p>
                    <div class="card-user-price">
                    <p id="date"><%= mission.start_date_time.strftime("%d/%m/%Y/ - %I:%M%p") %> to <%= mission.end_date_time.strftime("%d/%m/%Y - %I:%M%p") %></p>
                    <p id="price"><%= mission.price_by_hour%>€</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-5">
      <div id="map" style="width: 100%; height: 600px;"data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
   </div>
    </div>
  </div>
</div>
