<div class="new-mission-container">
  <div class="card-product">
    <h2  class="pb-3">Ajouter une mission</h2>
    <div class="form-inputs-new-missions">
  <%= simple_form_for(@mission) do |f| %>
    <%= f.input :name, as: :string, required: false, label: "Nom de la mission"  %>
    <%= f.input :description,  as: :text, required: false, label: "Description de la mission" %>
    <%= f.input :address,  as: :string, required: false, label: "Adresse de la mission" %>
    <%= f.input :start_date_time,  as: :datetime, required: false, label: "Date de début de la mission" %>
    <%= f.input :end_date_time,  as: :datetime, required: false, label: "Date de fin de la mission" %>
    <%= f.input :price_by_hour,  as: :float, required: false, label: "Tarif à lheure de la mission" %>
    <%= f.input :job_category, as: :select, collection: JobCategory::CATEGORY, required: false, label: "Catégorie de la mission" %>
    <%= f.submit "Créer la mission", class: "btn btn-danger", style:"float: right", onclick:"return confirm('Êtes-vous sûr ?')"%>
  <% end %>
    </div>
  </div>
</div>
