<div class="small-container pt-5">
  <h2 class="pt-3 "><%= @mission.name %></h2>
  <h3 class="pb-3"><%= @mission.name %></h3>

  <div class="row">
    <div class="col-8">
        <%= cl_image_tag @mission.photos.first.key, width: 700, height: 400, crop: :fill, class:"center" %>
    </div>
    <div class="col-4">
      <div class="border-left p-3">
          <h5>Détails</h5>
          <h6><%= "#{@mission.start_date_time.strftime("%d/%m/%Y")}   - #{@mission.end_date_time.strftime("%d/%m/%Y")} "%></h6>
          <h6><%= "#{@mission.start_date_time.strftime("%k:%M")}   - #{@mission.end_date_time.strftime("%k:%M")} "%></h6>
      </div>
    </div>
  </div>

  </div>

</div>
