<div class="show_mission-container pt-5">
  <div style = "position:relative"  >
    <% if @mission.user.avatar.attached? %>
      <%= cl_image_tag @mission.user.avatar.key, style:"position:absolute; left:-15px" ,class:"avatar-xlarge"%>
    <% end %>
    <a href="#show-loc" style = "position:absolute; right:0; width:180px" class="btn btn-ghost"><i class="far fa-map"></i> Voir la carte</a>
  </div>

  <h2 class="pt-3 pr-5 pl-5 ml-5"><%= "#{@mission.name} à #{@mission.user.address.split(",")[1]},"%></h2>
  <div style = "display: flex; justify-content:left;">
    <h4 class = "pl-5 ml-5"><%= "#{@mission.user.company_name}"%></h4>
    <h6 class = "ml-2 mt-1" >4,2 <i class="fas fa-star"></i></h6>
  </div>

  <div class="row">
    <div class="col-8">
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="0">
        <% if @mission.photos.size > 1%>
          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <% i = 0 %>
            <%for i in 0..@mission.photos.size-2%>
              <li data-target="#carouselIndicators" data-slide-to= <%=i+1 %>></li>
            <%end%>
          </ol>
        <% end %>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% if @mission.photos.attached? %>
              <%= cl_image_tag @mission.photos.first.key, width: 700, height:450, class:"center mb-5 d-block w-100"%>
            <% else %>
              <%= image_tag("mission.jpg", width: 700, height:450, class:"center mb-5 d-block w-100")%>
            <% end %>
          </div>
          <%for i in 1..@mission.photos.size-1%>
          <div class="carousel-item">
            <%= cl_image_tag @mission.photos[i].key, width: 700, height:450, class:"center mb-5 d-block w-100"%>
          </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-product p-3">
          <h5 class="mb-3" style="text-align:center"><i class="fas fa-square" style="color:#EE9595"></i>  Détails</h5>
          <h6><strong>Quand ?</strong></h6>
          <h6><%= "Du #{@mission.start_date_time.strftime("%d/%m/%Y")} au #{@mission.end_date_time.strftime("%d/%m/%Y")} "%></h6>
          <h6 class="pb-3 border-bottom"><%= "De #{@mission.start_date_time.strftime("%k:%M")}h à #{@mission.end_date_time.strftime("%k:%M")}h "%></h6>
          <h6><strong>Où ?</strong></h6>
          <h6 class="pb-3 border-bottom"><i class="fas fa-map-marker-alt"></i><%=@mission.user.address.split(",")[1]%></h6>
          <h6><strong>Rémunération :</strong></h6>
          <h6><%= "Salaire horaire : #{@mission.price_by_hour} €/heure" %></h6>
          <h6 class="pb-3 border-bottom"><%= "Salaire TTC : #{@price} €" %></h6>


          <!-- Button trigger modal -->
          <% if current_user.role == "freelancer"%>
            <button type="button" class="btn btn-flat text-center mt-2 mb-4 center-item" data-toggle="modal" data-target="#exampleModal">Je postule !</button>
          <% end %>
          <!-- Modal -->

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div>
                    <h5 class="modal-title" id="exampleModalLabel">Postuler à l'offre</h5>
                    <p>Les informations ci-dessous seront visibles par les recruteurs</p>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="d-flex justify-content-between border-bottom">
                    <div>
                      <h4><%= "#{@mission.name} à #{@mission.user.address.split(",")[1]} chez #{@mission.user.company_name}"%></h4>
                      <p><%= "Du #{@mission.start_date_time.strftime("%d/%m/%Y")} au #{@mission.end_date_time.strftime("%d/%m/%Y")} "%></p>
                      <p class="pb-3"><%= "De #{@mission.start_date_time.strftime("%k:%M")}h à #{@mission.end_date_time.strftime("%k:%M")}h "%></p>
                    </div>
                    <div>
                      <h4><%= "#{@mission.price_by_hour} €/h" %></h4>
                      <h4><%= "TTC : #{@price} €" %></h4>
                    </div>
                  </div>
                  <div>
                    <div class="pt-2" style = "position:relative">
                      <h6> Votre profil</h6>
                      <% if @user.avatar.attached? %>
                        <%= cl_image_tag @user.avatar.key, style:"position:absolute; left:0; top: 35px" ,class:"avatar-nav"%>
                      <% else %>
                        <img src="https://d2mp1cia79qmhd.cloudfront.net/prod/assets/default-avatar-58953c9e3461a05e47397bef0ad1e1967f9be436996e40fc7a84147336fd23e6.png" style="position:absolute; left:0" class="avatar-large">
                        <% end %>
                    </div>
                    <div class="d-flex justify-content-between pb-5 box_profil">
                      <div>
                        <h4 style="padding-left:60px; padding-top:10px"><%=@user.first_name%> <%=@user.last_name%></h4>
                        <p style="padding-left:60px; margin-top:-10px"><%=@user.email%></p>
                      </div>
                      <div class="link_profil">
                        <%= link_to "Modifier mon profil","#" %>
                      </div>

                    </div>
                    <%= simple_form_for [@mission, @booking] do |f| %>
                      <%= f.input :freelancer_description, as: :text , :label => "Vos motivations",  :input_html => { :rows => 10}%>
                      <%= f.submit "Postulez", class: "btn btn-danger", style:"float: right" %>
                    <%end%>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="pt-3 pb-3 mt-4 border-top"><i class="fas fa-square" style="color:#EE9595"></i> Mission :</h3>
      <p style="color:grey"><%=@mission.description%></p>
      <p style="color:grey"><strong><%="#{@mission.user.company_name}"%></strong><%=" : #{@mission.user.description}"%></p>
      <%= link_to "+ d'infos sur l'entreprise","#" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="pt-3 pb-3 mt-4 border-top" id="show-loc"></i>Localisation</h3>
        <div id="map"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="another_missions">
      <i class="fas fa-square" style="color:#AED5D4"></i> <h8>Il existe <%=@mission.user.missions.count%> autres missions de <%=@mission.job_category.name%> à <%=@mission.user.address.split(",")[1].capitalize %></h8>
      </div>
    </div>
  </div>
</div>
<div class="big-blog-container">
  <div class="container">
    <div class="blog_container row">
      <div class="col-4">
        <div id="blog">
          <div class='content'>
            <div class="cards">
            <h2> Webinar </h2>
              <div class = "card-trip">
                <div class= "height: 180px; width:100%;" >
                  <%= link_to image_tag "christin-hume-Hcfwew744z4-unsplash.jpg", class:"center d-block w-100"%>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h4>Gestion & Freelance</h4>
                    <p>Apprenez à conjuguer votre statut de freelance avec l'agilité d'un comptable expérimenté. Pour cela, des solutions pour automatiser toute votre gestion comptable & financière existent. Tour rapide des logiciels avec notre webinar ce lundi soir.</p>
                    <div class="flexbox">
                      <h5><a href="#"> En savoir plus</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div id="blog">
          <div class='content'>
            <div class="cards">
            <h2> Blog </h2>
              <div class = "card-trip">
                <div class= "height: 180px; width:100%;" >
                  <%= link_to image_tag "fistbump-over-desk.jpg", class:"center d-block w-100"%>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h4>Employer des freelances</h4>
                    <p>A l'heure où la souplesse devient primordiale pour les entreprises, le recrutement des freelances pour une mission, un créneau horaire particulier ou pour une période d'activité intense devient de plus en plus évident. Comprenez avec nous les avantages et eviter les aléas.</p>
                    <div class="flexbox">
                      <h5><a href="#">En savoir plus</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div id="blog">
          <div class='content'>
           <div class="cards">
            <h2> Tuto </h2>
              <div class = "card-trip">
                <div class= "height: 180px; width:100%;" >
                  <%= link_to image_tag "hands_top.jpg", class:"center d-block w-100"%>
                </div>
                <div class="card-trip-infos">
                  <div>
                    <h4>Freelance ou Portage</h4>
                    <p>Petit tour de la situation des freelances avec des témoignages. Nous avons réalisé une étude des solutions de portage existantes : avantages, inconvénients, coûts. Tous les outils pour comprendre quand ces solutions sont de vraies aides. Tuto avec notre expert comptable.</p>
                    <div class="flexbox">
                      <h5><a href="#">En savoir plus</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

