<!DOCTYPE html>
<html>
  <head>
    <title><%= Liberty %></title>
    <meta name="description" content="<%= 'La plateforme pour tous les freelances' %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= 'Liberty' %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= 'ogimage.png' %>" />
    <meta property="og:description" content="<%= 'La plateforme pour tous les freelances' %>" />
    <meta property="og:site_name" content="<%= 'Liberty App' %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="body-<%= controller_name %>-<%= action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id = "wrapper" >
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
